body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #56ccf2, #0a4591);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(160, 29, 29, 0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px rgba(189, 20, 20, 0.2);
}

input {
  width: 80%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #081b33;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #5a7b7b;
  color: white;
}

#weatherInfo {
  margin-top: 20px;
  font-size: 16px;
}